<Configuration status="WARN">
    <Appenders>
        <Async name="AsyncAppender" bufferSize="262144">
            <File name="File" fileName="logs/netty.log">
                <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </File>
        </Async>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="AsyncAppender"/>
        </Root>
    </Loggers>
</Configuration>